body{
  font-family: "Montserrat";
}
#title
{
  background-color: #ff4c68;
  color:#fff;

}
.headingmain{
  font-family:Montserrat-Black 900;
   font-size: 3.5rem;
  line-height:1.5;
  font-weight: bolder;
}
.navbar{
  margin-bottom: 30px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
  color:#fff;
}

.downloadbutton{
   margin: 5% 2% 5% 0;
}
.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: "Montserrat";
}
h2{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
}
.dabba{
  text-align: center;
  padding: 4%;
}

.pfeature{
  color:#8f8f8f;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
#features{
  background-color: #fff;
  position: relative;
  z-index: 1;
}
/* Testimonials */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* Press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 2%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px 20px;
}
/* Carousel */
.carousel-item{
  padding: 7% 15%;
}
/* Pricing section */
#pricing{
  text-align: center;
  padding: 100px;
}
.aa{
  padding: 3% 2%;
}
.lii{
  font-size: 1rem;
}
.title-image{
  margin-top:2%;
  width:60%;
  transform:rotate(25deg);
  position:absolute;
}

@media (max-width: 992px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
     transform: rotate(0deg);
  }
}

.divvv{
  padding: 100px;
  text-align: center;
}
#j{
  font-size: 3rem;
   line-height:1.5;
   font-weight: bolder;
   color:#fff;
   width: 70%;
}
#cta{
  color: #fff;
  background-color: #ff4c68;
  text-align: center;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
